---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome">

  <h1>Hello 2</h1>
  <h2>Hello 2</h2>

  <p>This is the start page.</p>

  <p class="mt-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quod minima, fuga voluptas, quidem error voluptatem porro facilis, atque cumque consequuntur itaque velit harum ipsam libero! Nisi sed ipsa quos?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quod minima, fuga voluptas, quidem error voluptatem porro facilis, atque cumque consequuntur itaque velit harum ipsam libero! Nisi sed ipsa quos?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quod minima, fuga voluptas, quidem error voluptatem porro facilis, atque cumque consequuntur itaque velit harum ipsam libero! Nisi sed ipsa quos?
  </p>

  <p class="mt-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quod minima, fuga voluptas, quidem error voluptatem porro facilis, atque cumque consequuntur itaque velit harum ipsam libero! Nisi sed ipsa quos?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quod minima, fuga voluptas, quidem error voluptatem porro facilis, atque cumque consequuntur itaque velit harum ipsam libero! Nisi sed ipsa quos?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quod minima, fuga voluptas, quidem error voluptatem porro facilis, atque cumque consequuntur itaque velit harum ipsam libero! Nisi sed ipsa quos?
  </p>

  <p class="mt-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quod minima, fuga voluptas, quidem error voluptatem porro facilis, atque cumque consequuntur itaque velit harum ipsam libero! Nisi sed ipsa quos?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quod minima, fuga voluptas, quidem error voluptatem porro facilis, atque cumque consequuntur itaque velit harum ipsam libero! Nisi sed ipsa quos?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quod minima, fuga voluptas, quidem error voluptatem porro facilis, atque cumque consequuntur itaque velit harum ipsam libero! Nisi sed ipsa quos?
  </p>

  <p class="mt-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quod minima, fuga voluptas, quidem error voluptatem porro facilis, atque cumque consequuntur itaque velit harum ipsam libero! Nisi sed ipsa quos?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quod minima, fuga voluptas, quidem error voluptatem porro facilis, atque cumque consequuntur itaque velit harum ipsam libero! Nisi sed ipsa quos?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quod minima, fuga voluptas, quidem error voluptatem porro facilis, atque cumque consequuntur itaque velit harum ipsam libero! Nisi sed ipsa quos?
  </p>

  <p class="mt-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quod minima, fuga voluptas, quidem error voluptatem porro facilis, atque cumque consequuntur itaque velit harum ipsam libero! Nisi sed ipsa quos?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quod minima, fuga voluptas, quidem error voluptatem porro facilis, atque cumque consequuntur itaque velit harum ipsam libero! Nisi sed ipsa quos?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quod minima, fuga voluptas, quidem error voluptatem porro facilis, atque cumque consequuntur itaque velit harum ipsam libero! Nisi sed ipsa quos?
  </p>

</Layout>
