---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">

  <p>
    Welcome! This is <code>dcache UI</code> &mdash; the administration dashboard for your <code>dcache</code> key-value store.
  </p>

  <div class="grid grid-cols-2 gap-8 my-6">
    <Card title="Token" body="Configure and select tokens to access data sets." href="token" />
    <Card title="Data" body="View and manipulate data of a selected data set." href="data" />
    <Card title="Docu" body="Read the dcache documentation." href="documentation" />
  </div>
</Layout>
