---
interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<a href={href} class="block border rounded-lg p-8 shadow-lg bg-sky-50 hover:no-underline hover:bg-sky-400 hover:text-white hover:shadow-md hover:translate-x-1 hover:translate-y-1 hover:border-sky-600 transition-all duration-300">
  <h2 class="m-0 mb-4">{title}</h2>
  <p class="m-0">{body}</p>
</a>
